@media (max-width: 1600px) {
  .header__nav-link {
    font-size: 20px !important;
  }

  .header__login {
    font-size: 20px !important;
  }

  .lang-switcher {
    font-size: 20px !important;
  }

  .header__logo {
    img {
      width: 130px;
    }
  }

  .lang-en {
    bottom: 6px !important;
  }

  .header__search-box {
    bottom: -64px !important;
  }

  .container {
    max-width: 1220px !important;
  }

  .post__title {
    font-size: 25px !important;
  }

  .post__currency-value {
    font-size: 20px !important;
  }

  .post__currency-btn {
    font-size: 18px !important;
  }

  .post__graph-box-text {
    font-size: 20px !important;
  }

  .post__graph-box {
    width: 400px !important;
  }

  .post__graph-graph__box {
    margin-left: 40px !important;
  }

  .post__graph-graph__text {
    font-size: 20px !important;
  }

  .post__graph-graph-nav {
    font-size: 17px !important;
  }

  .cursor {
    right: 48px !important;
  }
}