@media (max-width: 1600px) {
  .header__nav-link {
    font-size: 20px !important;
  }

  .header__login {
    font-size: 20px !important;
  }

  .lang-switcher {
    font-size: 20px !important;
  }

  .header__logo {
    img {
      width: 130px;
    }
  }

  .lang-en {
    bottom: 6px !important;
  }

  .header__search-box {
    bottom: -64px !important;
  }

  .container {
    max-width: 1220px !important;
  }

  .post__title {
    font-size: 25px !important;
  }

  .post__currency-value {
    font-size: 20px !important;
  }

  .post__currency-btn {
    font-size: 18px !important;
  }

  .post__graph-box-text {
    font-size: 20px !important;
  }

  .post__graph-box {
    width: 400px !important;
  }

  .post__graph-graph__box {
    margin-left: 40px !important;
  }

  .post__graph-graph__text {
    font-size: 20px !important;
  }

  .post__graph-graph-nav {
    font-size: 17px !important;
  }

  .cursor {
    right: 48px !important;
  }

  .post__transactions--time {
    font-size: 20px !important;
  }

  .post__transactions--price {
    font-size: 20px !important;
  }

  .post__transfer-input {
    font-size: 15px !important;
  }

  .post__graph-box-percent {
    font-size: 20px !important;
  }

  .post__subtitle {
    font-size: 17px !important;
  }

  .footer__logo-img {
    width: 230px !important;
  }

  .footer__nav-link {
    font-size: 20px !important;
    line-height: 25px !important;
  }

  .footer__copy {
    font-size: 15px !important;
  }

  .footer__link {
    font-size: 15px !important;
  }

  .cursor--yellow {
    bottom: 168px !important;
    right: 48px !important;
  }

  .cursor--brown {
    bottom: 130px !important;
    right: 45px !important;
  }

  .intro__img {
    img {
      width: 750px !important;
    }
  }

  .intro__slogan {
    font-size: 25px !important;
    line-height: 29px !important;
  }

  .intro__text {
    font-size: 18px !important;
    line-height: 23px !important;
  }

  .intro__btn {
    padding: 10px 60px 9px !important;
    width: 265px !important;
  }

  .post__text {
    font-size: 18px !important;
    line-height: 23px !important;
  }

  .post__img {
    img {
      width: 500px;
    }
  }

  .post__more {
    font-size: 17px !important;
  }

  .post__slider-item {
    width: 250px !important;
    height: 350px !important;
    margin-right: 17px !important;

    img {
      width: 250px !important;
    }
  }

  .post__slider-text {
    font-size: 25px !important;
    line-height: 30px !important;
  }

  .slick-slider {
    height: 400px !important;
  }

  .post__slider-text {
    max-width: 200px !important;
  }

  .post__img-full {
    width: 100% !important;
  }

  .post__share {
    font-size: 17px !important;
  }

  .post__main-pg {
    font-size: 18px !important;
    margin-bottom: 10px !important;
  }

  .post__main-text {
    font-size: 18px !important;
    line-height: 23px !important;
    margin-bottom: 30px !important;
  }

  .post__main-img {
    width: 485px !important;
  }

  .post__main-source-link {
    font-size: 15px !important;
  }

  .post__box-services__item {
    width: 300px !important;
    height: 150px !important;
    margin-bottom: 80px !important;
  }

  .post__box-services__item-img1,
  .post__box-services__item-img2,
  .post__box-services__item-img3,
  .post__box-services__item-img4,
  .post__box-services__item-img5,
  .post__box-services__item-img6 {
    width: 300px !important;
    height: 200px !important;
    padding: 20px 20px 35px !important;
  }

  .post__box-services__text {
    line-height: 25px !important;
    margin: 15px 0 10px !important;
  }

  .post__box-services__price {
    font-size: 15px !important;
  }

  .slider-btn__right,
  .slider-btn__left {
    top: 30% !important;
  }

  .post__reviews-item {
    margin-right: 19px !important;
    max-width: 560px !important;
  }
}

@media (max-width: 1230px) {
  .container {
    padding: 0 10px;
  }

  .intro__img {
    img {
      width: 600px !important;
    }
  }

  .intro__content {
    padding-left: 50px !important;
  }

  .intro__content {
    max-width: 50% !important;
  }
}

@media (max-height: 500px) {
  .intro__content {
    margin-top: 50px !important;
  }
}

@media (max-height: 450px) {
  .intro__slogan {
    font-size: 20px !important;
    line-height: 25px !important;
  }

  .intro__text {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .intro__btn {
    margin-top: 15px;
  }
}