@media (max-width: 1600px) {
  .header__nav-link {
    font-size: 20px !important;
  }

  .header__login {
    font-size: 20px !important;
  }

  .lang-switcher {
    font-size: 20px !important;
  }

  .header__logo {
    img {
      width: 130px;
    }
  }

  .lang-en {
    bottom: 6px !important;
  }

  .header__search-box {
    bottom: -64px !important;
  }

  .container {
    max-width: 1220px !important;
  }

  .post__title {
    font-size: 25px !important;
  }

  .post__currency-value {
    font-size: 20px !important;
  }

  .post__currency-btn {
    font-size: 18px !important;
  }

  .post__graph-box-text {
    font-size: 20px !important;
  }

  .post__graph-box {
    width: 400px !important;
  }

  .post__graph-graph__box {
    margin-left: 40px !important;
  }

  .post__graph-graph__text {
    font-size: 20px !important;
  }

  .post__graph-graph-nav {
    font-size: 17px !important;
  }

  .cursor {
    right: 48px !important;
  }

  .post__transactions--time {
    font-size: 20px !important;
  }

  .post__transactions--price {
    font-size: 20px !important;
  }

  .post__transfer-input {
    font-size: 15px !important;
  }

  .post__graph-box-percent {
    font-size: 20px !important;
  }

  .post__subtitle {
    font-size: 17px !important;
  }

  .footer__logo-img {
    width: 230px !important;
  }

  .footer__nav-link {
    font-size: 20px !important;
    line-height: 25px !important;
  }

  .footer__copy {
    font-size: 15px !important;
  }

  .footer__link {
    font-size: 15px !important;
  }

  .cursor--yellow {
    bottom: 188px !important;
    right: 48px !important;
  }

  .cursor--brown {
    bottom: 149px !important;
    right: 45px !important;
  }

  .intro__img {
    img {
      width: 750px !important;
    }
  }

  .intro__slogan {
    font-size: 25px !important;
    line-height: 29px !important;
  }

  .intro__text {
    font-size: 18px !important;
    line-height: 23px !important;
  }

  .intro__btn {
    padding: 10px 60px 9px !important;
    width: 265px !important;
  }

  .post__text {
    font-size: 18px !important;
    line-height: 23px !important;
  }

  .post__img {
    img {
      width: 500px;
    }
  }

  .post__more {
    font-size: 17px !important;
  }

  .post__slider-item {
    width: 250px !important;
    height: 350px !important;
    margin-right: 17px !important;

    img {
      width: 250px !important;
    }
  }

  .post__slider-text {
    font-size: 25px !important;
    line-height: 30px !important;
  }

  .slick-slider {
    height: 400px !important;
  }

  .post__slider-text {
    max-width: 200px !important;
  }

  .post__img-full {
    width: 100% !important;
  }

  .post__share {
    font-size: 17px !important;
  }

  .post__main-pg {
    font-size: 18px !important;
    margin-bottom: 10px !important;
  }

  .post__main-text {
    font-size: 18px !important;
    line-height: 23px !important;
    margin-bottom: 30px !important;
  }

  .post__main-img {
    width: 485px !important;
  }

  .post__main-source-link {
    font-size: 15px !important;
  }

  .post__box-services__item {
    width: 300px !important;
    height: 150px !important;
    margin-bottom: 80px !important;
  }

  .post__box-services__item-img1,
  .post__box-services__item-img2,
  .post__box-services__item-img3,
  .post__box-services__item-img4,
  .post__box-services__item-img5,
  .post__box-services__item-img6 {
    width: 300px !important;
    height: 200px !important;
    padding: 20px 20px 35px !important;
  }

  .post__box-services__text {
    line-height: 25px !important;
    margin: 15px 0 10px !important;
  }

  .post__box-services__price {
    font-size: 15px !important;
  }

  .slider-btn__right,
  .slider-btn__left {
    top: 30% !important;
  }

  .post__reviews-item {
    margin-right: 19px !important;
    max-width: 560px !important;
  }
}

@media (max-width: 1360px) {
  .footer__social {
    display: flex !important;
    flex-direction: row !important;
  }

  .footer__top {
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
  }

  .footer__social-box {
    display: flex !important;
    order: 4 !important;
    padding: 0 100px !important;
  }

  .footer__link {
    padding: 0 15px !important;
  }

  .footer__copy {
    margin-left: 20px !important;
    padding-left: 50px !important;
  }
}

@media (max-width: 1380px) {
  .container {
    padding: 0 10px;
  }

  .intro__img {
    img {
      width: 600px !important;
    }
  }

  .intro__content {
    padding-left: 50px !important;
  }

  .intro__content {
    max-width: 50% !important;
  }

  .post__box {
    padding: 60px 70px 50px !important;
    margin: 0 65px 80px !important;
  }

  .post__img img {
    width: 430px !important;
  }

  .post__text {
    font-size: 18px !important;
    line-height: 23px !important;
  }

  .post__box-services__content {
    margin-top: 15px !important;
  }

  .post__main-text {
    font-size: 18px !important;
    line-height: 23px !important;
    margin-bottom: 20px !important;
  }

  .post__main-img {
    width: 430px !important;
  }

  .post__slider-reviews-1 {
    height: 250px !important;
  }

  .post__currency-box {
    margin-right: 10px !important;
  }

  .post__currency-btn::after {
    right: 10px !important;
  }

  .post__graph-box {
    width: 340px !important;
  }

  .post__graph-graph__box {
    margin-left: 30px !important;
    width: 60% !important;
  }

  .post__graph-graph-img {
    width: 570px !important;
    margin-top: 10px !important;
  }

  .post__box--50 {
    margin: 0 !important;


    &:first-child {
      margin-left: 68px !important;
      width: 38% !important;
    }

    &:last-child {
      margin-right: 68px !important;
      width: 48% !important;
    }
  }

  .post__transfer-wrapper::after {
    left: 52% !important;
  }

  .post__graph-box-percent {
    font-size: 15px !important;
    padding-left: 40px !important;
  }

  .post__graph-box-percent::before {
    width: 30px !important;
    height: 30px !important;
  }

  .cursor {
    right: 28px !important;
    bottom: 174px !important;
  }

  .post__transfer {
    margin-right: 25px !important;
  }

  .cursor--yellow {
    bottom: 322px !important;
    right: 30px !important;
  }

  .cursor--brown {
    bottom: 290px !important;
    right: 27px !important;
  }

  .post__subtitle {
    font-size: 16px !important;
  }

  .main {
    padding-bottom: 100px !important;
  }

  .post__box--third {
    margin: 0 auto !important;
  }
}

@media (max-width: 1230px) {
  .post__box {
    padding: 45px 45px 50px !important;
    margin: 0 100px 50px !important;
  }

  .post__currency-btn {
    font-size: 16px !important;
  }

  .post__currency-box {
    padding: 20px !important;
  }

  .post__graph-box {
    padding: 20px !important;
  }

  .post__graph-graph-img {
    width: 490px !important;
  }

  .post__graph-graph__box {
    width: 59% !important;
  }

  .cursor {
    width: 15px !important;
    height: 15px !important;
    right: 37px !important;
    bottom: 158px !important;
  }

  .post__box--50 {
    margin: 0 !important;
  }

  .post__box--50:first-child {
    margin-left: 100px !important;
    width: 33% !important;
  }

  .post__box--50:last-child {
    margin-right: 100px !important;
    width: 48% !important;
  }

  .post__transfer-wrapper::after {
    left: 50% !important;
  }

  .post__box-inner-50 {
    height: 690px !important;
  }

  .post__subtitle {
    margin-bottom: 20px !important;
  }

  .footer__app {
    width: 100px !important;
  }

  .cursor {
    right: 84px !important;
  }

  .cursor--brown {
    bottom: 241px !important;
    right: 80px !important;
  }

  .cursor--yellow {
    bottom: 271px !important;
    right: 80px !important;
  }

  .post__box--third {
    margin: 0 auto !important;
  }
}

@media (max-width: 1170px) {
  .intro__img img {
    width: 500px !important;
  }

  .intro__content {
    max-width: 55% !important;
  }

  .cursor {
    right: 37px !important;
  }

  .cursor--yellow {
    bottom: 271px !important;
    right: 32px !important;
  }

  .cursor--brown {
    bottom: 242px !important;
    right: 33px !important;
  }

  .footer__logo {
    padding-left: 30px !important;
  }

  .post__box-services__item {
    width: 400px !important;
  }

  .post__box-services__item-img1,
  .post__box-services__item-img2,
  .post__box-services__item-img3,
  .post__box-services__item-img4,
  .post__box-services__item-img5,
  .post__box-services__item-img6 {
    width: 400px !important;
    justify-content: flex-start !important;
  }

  .post__box-services__text {
    margin: 15px 0 35px !important;
    font-size: 25px !important;
    line-height: 32px !important;
  }

  .post__box-services__price {
    font-size: 20px !important;
  }

  .post__main-img {
    width: 400px !important;
  }
}

@media (max-width: 1110px) {

  .slider-btn__right,
  .slider-btn__left {
    top: 50% !important;
  }

  .post__box-services__item-img1,
  .post__box-services__item-img2,
  .post__box-services__item-img3,
  .post__box-services__item-img4,
  .post__box-services__item-img5,
  .post__box-services__item-img6 {
    max-width: 350px !important;
  }

  .post__graph-graph__text {
    width: 130px !important;
  }

  .post__graph-box-text {
    width: 240px !important;
  }

  .post__graph-box {
    width: 285px !important;
  }

  .cursor {
    bottom: 234px !important;
    right: 35px !important;
  }

  .post__graph-graph-img {
    width: 472px !important;
  }

  .post__transfer-wrapper::after {
    left: 51% !important;
  }

  .post__graph-graph-nav {
    font-size: 14px !important;
  }

  .cursor--yellow {
    bottom: 347px !important;
  }

  .cursor--brown {
    bottom: 319px !important;
  }

  .post__box-services__item {
    max-width: 350px !important;
  }

  .post__main-img {
    max-width: 370px !important;
  }
}

@media (max-width: 1080px) {
  .cursor {
    bottom: 234px !important;
    right: 18px !important;
  }

  .cursor--yellow {
    right: 15px !important;
    bottom: 318px !important;
  }

  .cursor--brown {
    right: 15px !important;
    bottom: 288px !important;
  }

  .post__currency-country-kz,
  .post__currency-country-ru,
  .post__currency-country-us {
    font-size: 20px !important;
    padding-right: 45px !important;
  }

  .post__currency-country-kz::after {
    width: 35px !important;
    height: 35px !important;
  }

  .post__box-inner-50 {
    flex-direction: column;
    height: auto !important;
  }

  .post__box--50:first-child,
  .post__box--50:last-child {
    width: 852px !important;
  }

  .post__box--50:first-child {
    margin-bottom: 50px !important;
  }

  .post__box--50:last-child {
    margin-right: 0 !important;
    margin-left: 100px !important;
  }

  .post__transfer-wrapper::after {
    left: 49% !important;
  }

  .post__transfer {
    &:last-child {
      margin-right: 0 !important;
    }
  }

  .post__transfer {
    margin-right: 50px !important;
  }

  .footer__copy {
    width: 230px !important;
  }

  .post__graph-box-percent::before {
    width: 20px !important;
    height: 20px !important;
  }

  .post__graph-box-percent {
    padding-left: 25px !important;
  }
}

@media (max-width: 1060px) {
  .post__graph__inner {
    flex-direction: column;
  }

  .post__graph-box__inner {
    flex-direction: row !important;
  }

  .post__graph-box {
    display: none;

    &--active {
      display: block;
    }
  }

  .post__graph-box-mini__box {
    order: 0;
    display: flex !important;
    justify-content: space-around;
    padding: 20px 0 !important;
    width: 100% !important;
  }

  .post__currency-country-kz {
    order: 1;
  }

  .post__graph-graph__box {
    width: 90% !important;
  }

  .cursor {
    bottom: 73px !important;
    left: 422px !important;
  }

  .post__graph-graph__text {
    width: 210px !important;
  }

  .cursor--yellow {
    left: 420px !important;
    bottom: 71px !important;
  }

  .cursor--brown {
    left: 420px !important;
    bottom: 44px !important;
  }
}

@media (max-width: 1020px) {
  .header__nav-link {
    margin: 0 15px !important;
  }

  .post__box--50:first-child,
  .post__box--50:last-child {
    width: 800px !important;
  }

  .footer__link {
    padding: 0 10px !important;
  }

  .intro__text {
    font-size: 15px !important;
  }

  .intro__img img {
    width: 450px !important;
  }

  .post__subtitle {
    font-size: 14px !important;
  }

  .footer__contacts-location,
  .footer__contacts-tel,
  .footer__contacts-mail,
  .footer__contacts-time {
    font-size: 15px !important;
  }

  .post__main-text {
    font-size: 16px !important;
    line-height: 20px !important;
    margin-bottom: 20px !important;
  }

  .post__main-img {
    max-width: 325px !important;
  }

  .post__text {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .post__img img {
    width: 380px !important;
  }

  .post__more {
    margin-right: 23px;
  }

  .post__slider-item {
    margin-right: 0px !important;
  }

  .post__reviews-item {
    margin-right: 10px !important;
    max-width: 500px !important;
  }
}

@media (max-width: 1010px) {
  .footer__link {
    font-size: 12px !important;
  }
}

@media (max-height: 580px) {
  .sideMenu__inner {
    padding: 100px 0 25px !important;
  }
}

@media (max-height: 550px) {
  .sideMenu__ico-img {
    width: 35px !important;
  }

  .sideMenu__text {
    font-size: 16px !important;
  }
}

@media (max-height: 500px) {
  .intro__content {
    margin-top: 50px !important;
  }
}

@media (max-height: 450px) {
  .intro__slogan {
    font-size: 20px !important;
    line-height: 25px !important;
  }

  .intro__text {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .intro__btn {
    margin-top: 15px;
  }
}