@import url(style-second.css);
@import url(media.css);

$black: #453D2B;
$accent: #EAC682;
$second-accent: #E1BC75;
$yellow: #FED992;

$bg: #EEEFEC;
$gray: #EEEFED;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  //font-family: 'Bellota Text', cursive;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: $black;
  background-color: $bg;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.btn {
  font-family: 'Bellota Text', cursive;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: $black;
  padding: 10px 25px;
  background: #CCCCCC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  align-items: right;
  transition: all .3s linear;

  &:hover {
    background-color: rgba($black, .15);
  }
}

.btn__right {
  display: flex;
  justify-content: flex-end;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.modal {
  position: fixed;
  z-index: 1000;
  background-color: rgba(#000, .5);
  width: 100%;
  height: 100vh;
  display: none;
}

.modal--active {
  display: block;
}

.modal__wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__box {
  background-color: $accent;
  border-radius: 10px;
  width: 550px;
  height: 200px;
  text-align: right;
  padding: 15px 30px 20px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}

.modal__close {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;


  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background-color: $black;
    transform: rotate(-45deg) translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background-color: $black;
    transform: rotate(45deg) translateX(-50%);
    position: absolute;
    top: 1px;
    left: 50%;
  }
}

.modal__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.modal__link {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.modal__img {
  width: 60px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}

.header {
  background-color: $accent;
  font-family: 'Bellota Text', cursive;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 100;
  min-width: 100%;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
  position: fixed;
  top: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__side-left {
  display: flex;
  align-items: center;
}

.lang-switcher {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;

  &::after {
    content: "";
    display: block;
    width: 7px;
    height: 15px;
    background-image: url(../images/ico/arrow.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    transform: rotate(180deg);
    position: absolute;
    top: 5px;
    right: -10px;
  }
}

.lang-en {
  display: none;
  position: absolute;
  bottom: 0;
  left: -10px;
  font-size: 16px;
  background-color: $second-accent;
  color: $black;
  padding: 10px 15px;
  border-radius: 0 0 5px 5px;
  transform: translateY(calc(100% + 21px));
  z-index: 10;
  transition: all .3s ease;

  &--active {
    display: block;
  }

  &:hover {
    background-color: #f8deb4;
  }
}

.header__nav-link {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
  margin: 0 25px;

  &:hover {
    border-bottom: 1px solid $black;
  }
}

.header__side-right {
  display: flex;
  align-items: center;
  position: relative;
}

.header__login {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
  margin-right: 15px;

  &:hover {
    border-bottom: 1px solid $black;
  }
}

.header__search-box {
  position: absolute;
  bottom: -71px;
}

.search__box {

  width: 300px;
  border: none;
  background-color: $second-accent;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: $black;
  padding: 13px 30px;
  border-radius: 0 0 5px 5px;
  z-index: 10;
  display: none;

  &--active {
    display: block;
  }

  &::placeholder {
    color: rgba($black, .5);
    font-family: inherit;
    font-size: inherit;
  }
}

.profile__avatar {
  display: none;

  img {
    border-radius: 180px;
  }
}

.header__search {
  margin-left: 15px;
  cursor: pointer;
}

.intro {
  position: relative;
  height: 100vh;
  background-color: $yellow;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.intro__content {
  max-width: 40%;
  z-index: 100;
}

.intro__slogan {
  font-family: 'Bellota Text', cursive;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 10px;
}

.intro__text {
  font-family: 'Bellota Text', cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: $black;
}

.intro__btn {
  display: block;
  width: 300px;
  height: 50px;
  background-color: $accent;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Bellota Text', cursive;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: $black;
  padding: 10px 75px 12px;
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 30px;

  &:hover {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.intro__img {
  position: absolute;
  bottom: 50%;
  right: 0;
  z-index: 10;
  transform: translateY(50%);
}

.main {
  padding: 80px 0 180px;
  position: relative;
  background-image: url(../images/footer__bg.png);
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.post__box {
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 100px 80px 50px;
  margin-bottom: 80px;
  z-index: 100;

  &--50 {
    width: 49%;
    padding: 100px 80px;
    height: 100%;
    display: block;
    z-index: 0;
  }
}

.post__box-wrapper {
  display: flex;
  justify-content: space-between;
}

.post__content {
  max-width: 50%;
}

.post__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: $black;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.post__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $black;
}

.post__img {
  max-width: 50%;
}

.post__slider-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__more {
  font-family: 'Bellota Text', cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: $black;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 22px;
    width: 12px;
    background-image: url(../images/ico/arrow2.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.post__slider-item {
  display: block;
  height: 450px;
  width: 300px;
  position: relative;
  margin-right: 30px;
}

.post__slider-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.post__slider-text {
  z-index: 1000;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: $gray;
  position: absolute;
  bottom: 20px;
  left: 30px;
  max-width: 240px;
}

.post__reviews-item {
  border-radius: 5px;
  background-color: $bg;
  max-width: 550px;
  max-height: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 60px;
  margin-right: 15px;
}

.post__reviews__name-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post__reviews-avatar {
  border-radius: 50%;
  margin-right: 13px;
}

.post__reviews-name {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: $black;
}

.post__reviews-rating {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $black;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/ico/like.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.post__reviews-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  padding: 0 30px;
}

.post__slider-reviews {
  position: relative;
}

.post__slider-reviews .slick-track {
  width: 4000px !important;
  transform: translate3d(0px, 0px, 0px) !important;
}

.slider-btn {
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 100;
}

.slider-btn__left {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-btn__right {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  background: $accent;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer__nav-link {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  font-family: 'Bellota Text', cursive;
  color: $black;
}

.footer__social {
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  font-family: 'Bellota Text', cursive;
  margin-bottom: 5px;
  color: $black;
}

.footer__contacts-location {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  padding-left: 25px;
  font-family: 'Bellota Text', cursive;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/ico/map.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}


.footer__contacts-tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  padding-left: 25px;
  font-family: 'Bellota Text', cursive;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/ico/phone.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}


.footer__contacts-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  padding-left: 25px;
  font-family: 'Bellota Text', cursive;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/ico/mail.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}


.footer__contacts-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  padding-left: 25px;
  font-family: 'Bellota Text', cursive;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/ico/clock.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.footer__bottom {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(69, 61, 43, 0.15);
}

.footer__copy {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-family: 'Bellota Text', cursive;
  color: $black;
}

.footer__links {
  display: flex;
}

.footer__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-family: 'Bellota Text', cursive;
  color: $black;
  padding: 0 25px;
}

.footer__apps {
  display: flex;
  align-items: center;
}

.footer__app {
  &:first-child {
    padding-right: 10px;
  }
}

.footer__btn {
  display: block;
  width: 40px;
  height: 40px;
  background-color: $yellow;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 11px;
    background-image: url(../images/ico/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    position: absolute;
    top: 15px;
    left: 11px;
  }
}

.post__sign-form {
  display: flex;
  flex-direction: column;

}

.post__sign-content {
  width: 60%;
}

.post__sign-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 40px;
}

.sign-input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $black;
  padding: 10px;
  color: $black;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;

  &::placeholder {
    color: rgba($black, .5);
  }
}

.post__sign-door {
  width: 40%;
}

.post__sign-door {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post__sign-avatar {
  border-radius: 5px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2))
}

.btn-sign {
  background-color: #ccc;
  padding: 11px 95px;
  display: block;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: $black;
  margin-bottom: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn-sign__google {
  background-color: #fff;
  padding: 17px 43px 16px 84px;
  display: block;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;

  &:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/ico/google.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.post__sign-door__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: $black;
}

.post__sign-door__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgba($black, .75);
}

.post__sign-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.post__sign-btns__input {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 20px;
}

.post__sign-btns__password {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  margin-right: 90px;
}

.post__sign-btns__warning {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $black;
  margin-left: 25px;
}

.post__box-services__content {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post__box-services__item {
  width: 350px;
  height: 200px;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 50px;

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    margin-bottom: 0;
  }
}

.post__box-services__item-img1 {
  background-image: url(../images/slider/1-1.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.post__box-services__item-img2 {
  background-color: #EEEFEC;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.post__box-services__item-img3 {
  background-image: url(../images/slider/1-2.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.post__box-services__item-img4 {
  background-color: #EEEFEC;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.post__box-services__item-img5 {
  background-image: url(../images/slider/1-3.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.post__box-services__item-img6 {
  background-color: #EEEFEC;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.post__box-services__more {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Bellota Text', cursive;
  text-align: right;
  padding-right: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/ico/arrow3.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
  }
}

.post__box-services__text {
  margin: 15px 0 35px;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #fff;
}

.post__box-services__price {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.post__share {
  font-family: 'Bellota Text', cursive;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  padding-right: 26px;
  position: relative;
  color: $black;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/ico/share.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
  }
}

.post__main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__main-pg {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 30px;
}

.post__main-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $black;
  width: 100%;
  margin-bottom: 40px;
  text-align: justify
}

.post__main-with__image {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 10px;
}

.post__main-first__side {
  max-width: 50%;
}

.post__main-second__side {
  max-width: 50%;
}

.post__main-source-link {
  font-family: 'Bellota Text', cursive;
  font-style: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: rgba($color: $black, $alpha: .7)
}

.post__main-source__page {
  text-align: right;
}

.sideMenu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 90;
}

.sideMenu__inner {
  background-color: $bg;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 140px 0 25px;
}

.sideMenu__ico,
.sideMenu__footer {
  width: 100%;
  padding: 10px 15px;
  transition: all .3s linear;

  &:hover {
    background-color: #cecece;
  }
}

.sideMenu__ico-link,
.sideMenu__settings {
  display: flex;
  align-items: center;
}

.sideMenu__text {
  font-family: 'Bellota Text', cursive;
  font-weight: 700;
  font-size: 20px;
  color: $black
}

.sideMenu__text-wallet {
  font-family: 'Bellota Text', cursive;
  padding-left: 20px;
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: rgba($black, .75);

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    background-image: url(../images/ico/coin.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    top: 50%;
    transform: translateY(-50%)
  }
}

.sideMenu__text-exchange {
  font-family: 'Bellota Text', cursive;
  padding-left: 20px;
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: rgba($black, .75);

  &::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    background-image: url(../images/ico/discount.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    top: 50%;
    transform: translateY(-50%)
  }
}

.sideMenu__ico-img {
  margin-right: 0px;
}

.sideMenu__ico-img--active {
  margin-right: 20px;
}

.sideMenu__ico-text__box,
.sideMenu__text {
  display: none;
}

.sideMenu__ico-text__box--active,
.sideMenu__text--active {
  display: block;
}

.sideMenu__ico {
  max-height: 60px;
}

.post__currency-value {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 12px;
}

.post__currency-btn {
  font-family: 'Bellota Text', cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba($black, .75);
  padding-right: 27px;
  position: relative;

  &::after {
    content: "";
    width: 13px;
    height: 22px;
    background-image: url(../images/ico/arrow2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.post__currency-country-kz {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: $black;
  position: relative;
  padding-right: 50px;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/ico/kz.svg);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
  }

}

.post__currency-country-ru {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: $black;
  position: relative;
  padding-right: 50px;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/ico/ru.svg);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
  }

}

.post__currency-country-us {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: $black;
  position: relative;
  padding-right: 50px;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/ico/us.svg);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
  }

}

.post__currency-box {
  background: $bg;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  width: 33.3%;
  cursor: pointer;
  transition: all .3s linear;
  margin-right: 45px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.342);
  }
}

.post__currency-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__currency-box__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__graph__inner {
  display: flex;
  justify-content: flex-start;
}

.post__graph-box__inner {
  display: flex;
  flex-direction: column;
}

.post__graph-box {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: $bg;
  padding: 30px;
  width: 450px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all .3s linear;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.342);
  }

  &--active {
    background-color: #ccc;
  }
}

.post__graph-box-text {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: $black;
  padding-right: 50px;
  max-width: 100%;
  margin-bottom: 5px;

  &--kz {
    position: relative;
    width: 330px;

    &::after {
      content: "";
      background-image: url(../images/ico/kz.svg);
      background-position: 0 0;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--ru {
    position: relative;
    width: 330px;

    &::after {
      content: "";
      background-image: url(../images/ico/ru.svg);
      background-position: 0 0;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--us {
    position: relative;
    width: 330px;

    &::after {
      content: "";
      background-image: url(../images/ico/us.svg);
      background-position: 0 0;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.post__graph-box-percent {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: $black;
  padding-left: 50px;
  position: relative;
  margin-right: 20px;
  margin-top: 10px;

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/ico/exchange.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:last-child {
    margin-right: 0;
  }
}

.post__graph-graph__text {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: $black;
}

.post__graph-graph-nav {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: rgba($black, .5);
  border-bottom: 1px solid transparent;
  transition: all .3s linear;

  &:hover {
    border-bottom: 1px solid rgba($black, .5);
  }
}

.post__graph-graph-nav--active {
  color: $black;
}

.post__graph-graph__box {
  width: 100%;
  margin-left: 85px;
  position: relative;
}

.post__graph-graph__text-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cursor {
  position: absolute;
  right: 115px;
  bottom: 97px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #EAC682;
  border-radius: 50%;
  cursor: pointer;
}

.cursor--yellow {
  bottom: 265px;
  position: absolute;
  right: 115px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #EAC682;
  border-radius: 50%;
  cursor: pointer;
}

.cursor--brown {
  bottom: 226px;
  right: 113px;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: $black;
  border-radius: 50%;
  cursor: pointer;
}

.post___subtext {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 40px;
}

.post__table {
  width: 100%;
  text-align: left;
  padding: 15px 16px;
}

.post__transactions--time {
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: $black;
}

.post__transactions--price {
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: #866F42;
}

.post__table-bb {
  border-bottom: 1px solid rgba($black, .15);
  padding: 5px;
}

.post__box-inner-50 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 750px;
  margin-bottom: 80px;
}

.post__transfer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;

  &::after {
    content: "";
    display: block;
    width: 13px;
    height: 22px;
    background-image: url(../images/ico/arrow6.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
  }
}

.post__transfer {
  position: relative;
  width: 50%;
  padding: 50px 10px 40px;
  background: #EEEFEC;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-right: 35px;
  transition: all .3s linear;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.342);
  }
}

.post__transfer-card {
  position: relative;
  width: 100%;
}

.post__transfer-input {
  border: none;
  border-bottom: 1px solid rgba(#000, .50);
  background-color: transparent;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $black;
  padding: 10px;

  &::placeholder {
    color: rgba(#000, .50)
  }
}

.post__transfer-value {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: $black;
  padding-right: 65px;
  cursor: pointer;
  display: none;

  &--active {
    display: block;
  }

  &-ru {
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background-image: url(../images/ico/ru.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 0;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    &--active {
      display: block;
    }

    &--nactive {
      display: none;
    }
  }

  &-us {
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background-image: url(../images/ico/us.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 0;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    &--active {
      display: block !important;
    }

    &--nactive {
      display: none;
    }
  }

  &-kz {
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background-image: url(../images/ico/kz.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 0;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    &--active {
      display: block;
    }

    &--nactive {
      display: none;
    }
  }

  &--nactive {
    display: none;
  }

  &--list {
    display: block;
    position: relative;
    margin-bottom: 10px;
  }

  &::after {
    content: "";
    display: block;
    width: 15px;
    height: 7px;
    background-image: url(../images/ico/arrow5.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.post__transfer-value_list {
  position: absolute;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  width: 130px;
  height: 110px;
  padding-left: 20px;
  padding-bottom: 40px;
  display: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  &--active {
    display: block;
  }
}

.post__transfer-value-ru_list {
  &--active {
    display: block;
  }

  &--nactive {
    display: none;
  }
}

.post__transfer-value-us_list {
  &--active {
    display: block;
  }

  &--nactive {
    display: none;
  }
}

.post__transfer-value-kz_list {
  &--active {
    display: block;
  }

  &--nactive {
    display: none;
  }
}

.post__transfer-value__list {
  position: relative;
  margin-bottom: 10px;
}

.post__transfer-card--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.post__graph-box-percent-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__graph-indicators {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.post__graph-indicators-yellow {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #EAC682;
  position: relative;
  padding-left: 30px;
  margin-right: 30px;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #EAC682;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.post__graph-indicators-brown {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $black;
  position: relative;
  padding-left: 30px;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: $black;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.post__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 50px;
}