$black: #453D2B;
$accent: #EAC682;
$second-accent: #E1BC75;
$yellow: #FED992;

$bg: #EEEFEC;
$gray: #EEEFED;

.main {
  padding: 80px 0 180px;
  position: relative;
  background-image: url(./img/footer__bg.png);
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.post__box {
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 100px 80px 50px;
  margin-bottom: 80px;
  z-index: 100;

  &--50 {
    width: 49%;
    padding: 100px 80px;
    height: 100%;
    display: block;
    z-index: 0;
  }
}

.post__box-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__content {
  max-width: 50%;
}

.post__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: $black;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.post__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $black;
}

.post__img {
  max-width: 50%;
}

.post__slider-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__more {
  font-family: 'Bellota Text', cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: $black;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 22px;
    width: 12px;
    background-image: url(../../ico/arrow2.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.post__slider-item {
  display: block;
  height: 450px;
  width: 300px;
  position: relative;
  margin-right: 30px;
}

.post__slider-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.post__slider-text {
  z-index: 10;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: $gray;
  position: absolute;
  bottom: 20px;
  left: 30px;
  max-width: 240px;
}

.post__reviews-item {
  border-radius: 5px;
  background-color: $bg;
  max-width: 550px;
  max-height: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 60px;
  margin-right: 15px;
}

.post__reviews__name-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post__reviews-avatar {
  border-radius: 50%;
  margin-right: 13px;
}

.post__reviews-name {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: $black;
}

.post__reviews-rating {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $black;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../ico/like.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.post__reviews-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  padding: 0 30px;
}

.post__slider-reviews {
  position: relative;
}

.post__slider-reviews .slick-track {
  width: 4000px !important;
  transform: translate3d(0px, 0px, 0px) !important;
}

.slider-btn {
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 50;
}

.slider-btn__left {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-btn__right {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}